<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jethexa">

  <xacro:arg name="model_name" default="jethexa"/>

  <xacro:include filename="robot_core.xacro" />
  <xacro:include filename="robot_sensors.xacro" />
  <xacro:include filename="gz_control.xacro" />


  <xacro:macro name="jethexa_robot" params="">
    
    <!-- Base link for Ignition -->
    <link name="base_footprint"/>
    <joint name="base_footprint_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link" />
        <origin xyz="0 0 0.075" rpy="0 0 0" />
    </joint>
    <link name="base_link"/>

    <xacro:jethexa_core/>
    <xacro:jethexa_sensors model_name="$(arg model_name)"/>
    <xacro:jethexa_gz_control model_name="$(arg model_name)"/>

  </xacro:macro>

  <xacro:jethexa_robot/>

</robot>