<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="my_pi" value="3.1415926535897931"/>
  <xacro:property name="coxa_length" value="0.04505032"/>
  <xacro:property name="femur_length" value="0.07703"/>
  <xacro:property name="joint_lower_limit" value="-3.14" />
  <xacro:property name="joint_upper_limit" value="3.14" />
  <xacro:property name="joint_effort" value="25.0" />
  <xacro:property name="joint_velocity" value="0.524" />

  <!-- Leg Macro -->
  <xacro:macro name="leg" params="side position x y angle axis">
    <!-- Leg Center -->
    <joint name="leg_center_joint_${side}${position}" type="fixed">
      <origin xyz="${x} ${y} 0.0" rpy="0.0 0.0 0.0" />
      <parent link="body_link" />
      <child link="leg_center_${side}${position}" />
    </joint>
    <link name="leg_center_${side}${position}">
      <inertial>
        <mass value="0.01"/>
        <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      </inertial>
    </link>

    <!-- Coxa -->
    <joint name="coxa_joint_${side}${position}" type="revolute">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${angle}" />
      <parent link="leg_center_${side}${position}" />
      <child link="coxa_${side}${position}" />
      <axis xyz="0.0 0.0 1.0" />
      <limit lower="${joint_lower_limit}" upper="${joint_upper_limit}" effort="${joint_effort}" velocity="${joint_velocity}" />
      <dynamics damping="0.7" />
    </joint>
    <link name="coxa_${side}${position}">
      <visual>
        <geometry><mesh filename="package://cares_simulation/models/jethexa/coxa.stl" scale="0.001 0.001 0.001"/></geometry>
        <material name=""><color rgba="0.4 0.9 0.4 1" /></material>
      </visual>
      <collision>
        <geometry><mesh filename="package://cares_simulation/models/jethexa/coxa.stl" scale="0.001 0.001 0.001"/></geometry>
      </collision>
      <inertial>
        <mass value="0.05"/>
        <inertia ixx="0.00005" ixy="0.0" ixz="0.0" iyy="0.00005" iyz="0.0" izz="0.00005" />
      </inertial>
    </link>

    <!-- Femur -->
    <joint name="femur_joint_${side}${position}" type="revolute">
      <origin xyz="${coxa_length} 0.0 0.0" rpy="${axis*my_pi/2} 0.0 0.0" />
      <parent link="coxa_${side}${position}" />
      <child link="femur_${side}${position}" />
      <axis xyz="0.0 0.0 ${axis}" />
      <limit lower="${joint_lower_limit}" upper="${joint_upper_limit}" effort="${joint_effort}" velocity="${joint_velocity}" />
      <dynamics damping="0.7" />
    </joint>
    <link name="femur_${side}${position}">
      <visual>
        <geometry><mesh filename="package://cares_simulation/models/jethexa/${side}_femur.stl" scale="0.001 0.001 0.001"/></geometry>
        <material name=""><color rgba="0.2 0.2 0.2 1" /></material>
      </visual>
      <collision>
        <geometry><mesh filename="package://cares_simulation/models/jethexa/${side}_femur.stl" scale="0.001 0.001 0.001"/></geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 1.0" />
        <mass value="0.1"/>
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" />
      </inertial>
    </link>

    <!-- Tibia -->
    <joint name="tibia_joint_${side}${position}" type="revolute">
      <origin xyz="${femur_length} 0.0 0.0" rpy="0.0 0.0 ${-axis*(my_pi/2 - 5*my_pi/180)}" />
      <parent link="femur_${side}${position}" />
      <child link="tibia_${side}${position}" />
      <axis xyz="0.0 0.0 ${axis}" />
      <limit lower="${joint_lower_limit}" upper="${joint_upper_limit}" effort="${joint_effort}" velocity="${joint_velocity}" />
      <dynamics damping="0.7" />
    </joint>
    <link name="tibia_${side}${position}">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${-axis*0.08727}"/>
        <geometry><mesh filename="package://cares_simulation/models/jethexa/${side}_tibia_b.stl" scale="0.001 0.001 0.001"/></geometry>
        <material name=""><color rgba="0.4 0.9 0.4 1" /></material>
      </visual>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${-axis*0.08727}"/>
        <geometry><mesh filename="package://cares_simulation/models/jethexa/${side}_tibia_a.stl" scale="0.001 0.001 0.001"/></geometry>
        <material name=""><color rgba="0.2 0.2 0.2 1" /></material>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${-axis*0.08727}"/>
        <geometry><mesh filename="package://cares_simulation/models/jethexa/${side}_tibia.stl" scale="0.001 0.001 0.001"/></geometry>
      </collision>
      <inertial>
        <mass value="0.1"/>
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" />
      </inertial>
    </link>

    <!-- Leg End Fixed Link -->
    <joint name="end_joint${side}${position}" type="fixed">
      <origin xyz="0.123 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <parent link="tibia_${side}${position}" />
      <child link="end_${side}${position}" />
    </joint>
    <link name="end_${side}${position}"></link>

    <gazebo reference="coxa_${side}${position}">
      <kp>1000000.0</kp><kd>1000000.0</kd><mu1>0.8</mu1><mu2>0.8</mu2><min_depth>0.001</min_depth>
    </gazebo>
    <gazebo reference="femur_${side}${position}">
      <kp>1000000.0</kp><kd>1000000.0</kd><mu1>0.8</mu1><mu2>0.8</mu2><min_depth>0.001</min_depth>
    </gazebo>
    <gazebo reference="tibia_${side}${position}">
      <kp>1000000.0</kp><kd>100.0</kd><mu1>1.0</mu1><mu2>1.0</mu2><min_depth>0.001</min_depth>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="jethexa_core" params="">
    <joint name="base_joint" type="fixed">
      <parent link="base_link"/>
      <child link="body_link" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="body_link">
      <visual>
        <geometry><mesh filename="package://cares_simulation/models/jethexa/body_a.stl" scale="1.0 1.0 1.0"/></geometry>
        <material name=""><color rgba="0.2 0.2 0.2 1" /></material>
      </visual>
      <visual>
        <geometry><mesh filename="package://cares_simulation/models/jethexa/body_b.stl" scale="1.0 1.0 1.0"/></geometry>
        <material name=""><color rgba="0.4 0.9 0.4 1" /></material>
      </visual>
      
      <collision>
        <origin xyz="0.0 0.0 0.015" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.25 0.15 0.05"/> 
        </geometry>
      </collision>

      <inertial>
        <mass value="1.0"/>
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
      </inertial>
    </link>

    <!-- Head Pan/Tilt -->
    <joint name="head_pan_joint" type="revolute">
      <parent link="body_link"/>
      <child link="head_pan_link"/>
      <axis xyz="0.0 0.0 1.0" />
      <origin xyz="0.065455 0.0 0.068857338" rpy="0.0 0.0 0.0"/>
      <limit lower="-3.14" upper="3.14" effort="10.0" velocity="100" />
    </joint>
    <link name="head_pan_link">
      <inertial><mass value="0.05"/><inertia ixx="0.00005" ixy="0.0" ixz="0.0" iyy="0.00005" iyz="0.0" izz="0.00005" /></inertial>
    </link>

    <joint name="head_tilt_joint" type="revolute">
      <parent link="head_pan_link"/>
      <child link="head_tilt_link"/>
      <axis xyz="0.0 0.0 1.0" />
      <origin xyz="0.00922 0.0 0.017199" rpy="${my_pi/2} 0.0 0.0"/>
      <limit lower="-3.14" upper="3.14" effort="10.0" velocity="100" />
    </joint>
    <link name="head_tilt_link">
      <inertial><mass value="0.05"/><inertia ixx="0.00005" ixy="0.0" ixz="0.0" iyy="0.00005" iyz="0.0" izz="0.00005" /></inertial>
    </link>

    <!-- Instantiating 6 Legs -->
    <xacro:leg side="R" position="R" x="-0.093205" y="-0.05098" angle="-${my_pi*3/4}" axis="1" />
    <xacro:leg side="R" position="M" x="0.0" y="-0.073535" angle="-${my_pi/2}" axis="1" />
    <xacro:leg side="R" position="F" x="0.093205" y="-0.05098" angle="-${my_pi/4}" axis="1" />
    <xacro:leg side="L" position="R" x="-0.093205" y="0.05098" angle="${my_pi*3/4}" axis="-1" />
    <xacro:leg side="L" position="M" x="0.0" y="0.07353" angle="${my_pi/2}" axis="-1" />
    <xacro:leg side="L" position="F" x="0.093205" y="0.05098" angle="${my_pi/4}" axis="-1" />
  </xacro:macro>

</robot>