<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="tb3_gz_control" params="model_name">

    <gazebo>
      <plugin
        filename="libignition-gazebo-diff-drive-system.so"
        name="ignition::gazebo::systems::DiffDrive">

        <left_joint>wheel_left_joint</left_joint>
        <right_joint>wheel_right_joint</right_joint>

        <wheel_separation>0.160</wheel_separation>
        <wheel_radius>0.033</wheel_radius>
        <max_linear_acceleration>0.33</max_linear_acceleration>

        <covariance_x>0.0001</covariance_x>
        <covariance_y>0.0001</covariance_y>
        <covariance_yaw>0.01</covariance_yaw>

        <topic>/model/${model_name}/cmd_vel</topic>

        <frame_id>${model_name}/odom</frame_id>
        <child_frame_id>${model_name}/base_footprint</child_frame_id>

        <publish_odom_tf>false</publish_odom_tf>
        <odom_topic>/model/${model_name}/odom_raw</odom_topic>
        <odom_publisher_frequency>30</odom_publisher_frequency>

        <tf_topic>/model/${model_name}/tf</tf_topic>
      </plugin>

      <plugin
        filename="libignition-gazebo-joint-state-publisher-system.so"
        name="ignition::gazebo::systems::JointStatePublisher">
        <topic>/model/${model_name}/joint_states</topic>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
